<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuyu.github.kotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="GSYGithubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".module.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.person.PersonActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.repos.ReposDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.code.CodeDetailActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".module.issue.IssueDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.search.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.StartNavigationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />

        <activity
            android:name=".module.list.GeneralListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.notify.NotifyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.push.PushDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.image.ImagePreViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullTheme" />

        <activity
            android:name=".module.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>